* {
	color: #202926;
	/*	text-shadow: CAN WE USE THIS TO OUTLINE LETTERS!?! */
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	letter-spacing: .5px;
	box-sizing: border-box;
	text-align: center;
}

body {
	background-image: url(../images/symphony/symphony.png);
}

h1 {
	font-family: 'Monoton', cursive;
	margin: 0px 70px;
}

h3 {
	font-family: 'Monoton', cursive;
}

a {
	font-size: 18px;
}

#gifSearchTitle {
	color: #1c1f4b;
	margin-bottom: 10px;
}

#mainheader {
	background-color: #e244cf;
}

#searchedGif {
	background-color: #1c1f4b;
}

#termBox {
	height: 150px;
}

button {
	margin: 10px;
	color: #e244cf;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 4%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.);
}

button:hover {
	border: 2px solid #e244cf;
}

#gifHeaderImg {
	width: 150px;
	height: 150px;
	float: left;
	margin: 10px 0px 10px 20px;
}

.navbar-brand	{
	width: 150px;
	background-color: #e244cf;
	font-size: 24px;
	float: left;
}

.navbar-nav {
	clear: both;
	overflow: auto;
	background-color: #e244cf;
}

.navbar-right {
	position: absolute;
	bottom: 0px;
	right: 12%;
}
		
.navbar-default .navbar-nav>li>a {
	background-color: #1c1f4b;
	color: white;
}

.nav>li>a:hover {
	background-color: #1c1f4b;
	color: #1c1f4b;
}

.panel-heading {
	padding: 0px 15px;
}

.panel {
	padding: 20px;
	margin-left: 0%;
}

.page-header {
	color: #e244cf;
}


#gifSearchParm {
	margin-bottom: 20px;
}

#stickyfooter2 {
	background-color: #1c1f4b;
	height: 50px;
	font-size: 14px;
}

footer {
	color: white;
}

div.panel.pane-inverse {
	padding: 10px;
}

input::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
  color: white;
  text-align: center; 
}

#footer-text {
	height: 50px; 
	overflow: hidden;
	position: relative;
}

#footer-text h4 {
	color: white;
	font-family: 'Monoton', cursive;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 15px;
	text-align: center;

	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%); 
	transform:translateX(100%);

	/* Apply animation to this element */ 
	-moz-animation: scroll-left 20s linear infinite;
	-webkit-animation: scroll-left 20s linear infinite;
	animation: scroll-left 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
	0% { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
	}
	@-webkit-keyframes scroll-left {
		0% { -webkit-transform: translateX(100%); }
		100% { -webkit-transform: translateX(-100%); }
	}
	@keyframes scroll-left {
	0% { 
		-moz-transform: translateX(100%); /* Browser bug fix */
		-webkit-transform: translateX(100%); /* Browser bug fix */
		transform: translateX(100%); 
	}
	100% { 
		-moz-transform: translateX(-100%); /* Browser bug fix */
		-webkit-transform: translateX(-100%); /* Browser bug fix */
		transform: translateX(-100%); 
	}
}