/************* USE BOOTSTRAP ...too*********/
* {
	color: #202926;
	/*	text-shadow: CAN WE USE THIS TO OUTLINE LETTERS!?! */
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	letter-spacing: .5px;
	box-sizing: border-box;
	text-align: center;
	
}

body {
	background-image: url(../images/symphony/symphony.png);
}

h1 {
	font-family: 'Monoton', cursive;
	margin: 0px 70px;
}

.container.jumbotron {
	padding: 0px;
	margin-top: 20px;
	background-image: url(../images/symphony/symphony.png);
	margin-right: 5%;
}

.panel-default {
	background-image: url(../images/symphony/symphony.png);
	border-width: 0px;
}

.div.panel-heading {
	width: 80%;
	color: white; background-color: #e244cf;
}

.container.margin {
	margin-top: 20px;
}

.container.main {
	border-width: 2px;
	border-color: #e244cf;
}

button {
	margin: 10px;
}

#gifHeaderImg {
	width: 200px;
	height: 200px;
}

		